* {
	margin: 0;
	padding: 0;
}

.app-title {
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-weight: 900;
}

.item {
	float: left;
	width: 98%;
	margin-left: 1%;
	margin-top: 10px;
	height: 30px;
	line-height: 30px;
}

.el-row {
	width: 100%;
	height: 100%;
}

.item-title {
	font-size: 14px;
	text-align: center;
	color: #303133;
	font-weight: 900;
}

.item1 .el-select,
.item2 .el-input,
.item3 .el-select {
	float: left;
	width: 100%;
}

.item2 .el-input .el-input__suffix {
	display: none;
}

.input-with-select .el-input-group__prepend {
	background-color: #fff;
}

.item2 .el-input__inner {
	width: 100%;
	text-align: center;
	padding: 0;
}

.item4 .item-content,
.item5 .item-content {
	text-align: center;
	font-size: 12px;
	font-style: italic;
	color: #409EFF;
}

.item-btn .el-col {
	text-align: center;
}

.item-pve .item-content span,
.item-pvp .item-content span {
	color: #f00;
	font-weight: 900;
}

.item-init {
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	margin-top: 0px;
	color: #303133;
}

.item-bottom {
	position: absolute;
	bottom: 0;
	text-align: center;
	font-size: 12px;
	color: #888;
}
